PORT=3000
FRONTEND_ORIGIN=http://localhost:5500
RESET_URL=http://localhost:5500/redefinir-senha.html

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

SENDGRID_API_KEY=
SENDGRID_SENDER_EMAIL=
SENDGRID_SENDER_NAME=Ludos

SUPPORT_EMAIL=
SUPPORT_ATTENDANT_NAME=
SUPPORT_MEET_URL=https://meet.google.com/xxx-xxxx-xxx
SUPPORT_SCHEDULE_TIME=14:00
SUPPORT_RATE_LIMIT=5
